.navbar-inverse{
    background-color: navy;
    color: white;
    display: none;

}
/* .navContainer{
    display: none;
} */

.navbar-toggler{
    background-color: white;
    outline: 0 !important;
    width: 14%;
}
.navbar-toggler img {
    width: 100%;
}

@media screen and (max-width:760px){
    /* .navContainer{
        display: block
    } */
    .navbar-inverse{
        display: block;
    }
}

