.info_container{
    display: flex;
    justify-content: center;
    flex-direction: column;

    
}
.info_container .details{
    font-family: Proxima Nova;
    font-size: 25px;
    color:white;
    padding: 20px;
}
.info_container {
    font-family: Proxima Nova Regular;
    font-size: 20px;
    line-height: 110%;
    color:white;
    
    
}
@media screen and (max-width:770px){
    .info_container{
        width: 100%;
        padding: 5px;
        height: fit-content;
    }
    .info_container .details{
        font-size: 18px;
        line-height: 20px;
    }
    .info_container{
        font-size: 17px;
        line-height: 18px;
    }
}