.outerbox{
    
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/bg.png);
  /* background-color: black; */
  height: 100vh;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
    
}
.about_text{
  color: white;
  font-family: Lato;
  font-size: 47px;    
}

.box{
  display: flex;
    flex-flow: column;
    width: 60%;
    justify-content: center;
    text-align: center;
}



.cards{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  color: white;
  text-align: left;
  align-items: flex-start;
  font-size: 20px;
}
.card1{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* width: 89%; */
  color: white;
  text-align: left;
  font-size: px;
}
/* .bullet{
width: 15%;
display: flex;
    align-items: self-end;
    justify-content: center
}
.bullet img{
  width: 30%;
} */

  @media screen and (max-width:767px){
      .about_text{
          font-size: 25px;
      }
      /* .outerbox{
        height: auto;
      } */
      .cards{
        font-size: 15px;
      }
      .box{
        margin-top: 10%;
        width: 75%;
      }
    .outerbox{
      height: fit-content;
    padding: 15px;
    }
  }